.submit-form{
    margin-left: 50px;
}
.search-field{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    border: 2px solid black;
}
.search-button{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: rgb(67, 95, 255);
    color: white;
    font-weight: bold;
    border-radius: 7px;
}