.heading {
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  margin: 10px 0px 50px 0px;
  text-decoration: underline;
}
#cart-button {
  padding: 10px 20px;
  float: right;
  margin: 10px 80px 0 0;
}
