.heading {
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  margin: 10px 0px 50px 0px;
  text-decoration: underline;
}
@media screen and (max-width: 649px) {
  .heading {
    font-size: 25px;
  }
}
@media screen and (max-width: 430px) and (min-width: 300px) {
  .heading {
    font-size: 18px;
  }
}
@media screen and (max-width: 299px) and (min-width: 190px) {
  .heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 189px) and (min-width: 160px) {
  .heading {
    font-size: 13px;
  }
}
@media screen and (max-width: 159px) and (min-width: 120px) {
  .heading {
    font-size: 10px;
  }
}
@media screen and (max-width: 119px) and (min-width: 0px) {
  .heading {
    font-size: 8px;
  }
}
